@page "/counter"

<MatH1>Counter</MatH1>

<p>Current count: @currentCount</p>

<MatButton @onclick=""IncrementCount">Click me</MatButton>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
