@page "/"

<MatH1>Hello World</MatH1>

<p>Welcome to your new app.</p>

<div class="main">
    <MatH3>More Info about MatBlazor</MatH3>
    <MatList SingleSelection="true" TwoLine="true">
        <MatListItem Href="https://www.matblazor.com" target="_blank">
            <MatListItemText>
                <MatListItemPrimaryText>Main MatBlazor docs</MatListItemPrimaryText>
                <MatListItemSecondaryText>https://www.matblazor.com</MatListItemSecondaryText>
            </MatListItemText>
        </MatListItem>
        <MatListItem Href="https://github.com/BlazorComponents/BlazorNewsClient/tree/master/BlazorNewsClient" target="_blank">
            <MatListItemText>
                <MatListItemPrimaryText>GitHub src for demo Blazor News Client</MatListItemPrimaryText>
                <MatListItemSecondaryText>https://github.com/BlazorComponents/BlazorNewsClient/tree/master/BlazorNewsClient</MatListItemSecondaryText>
            </MatListItemText>
        </MatListItem>
        <MatListItem Href="https://www.youtube.com/watch?v=T8V_Qq3fzd8" target="_blank">
            <MatListItemText>
                <MatListItemPrimaryText>Converting Blazor Template to Blazor News Client</MatListItemPrimaryText>
                <MatListItemSecondaryText>https://www.youtube.com/watch?v=T8V_Qq3fzd8</MatListItemSecondaryText>
            </MatListItemText>
        </MatListItem>
    </MatList>
</div>
